<!-- {{ blog.title }} -->
<!-- {{ blog.text }} -->
<!-- {{ blog.created_datetime }} -->
<!-- {{ blog.updated_datetime }} -->
<!-- <a href="{% url 'blogs:index' %}">トップページに戻る</a> -->

<!DOCTYPE html>
<html>
	<head>
		<title>ブログアプリ</title>
	</head>
	<body>
		<h1 style="text-align: center;">{{ blog.title }}</h1>
		<div style="width: 70%;margin: 0px auto;">
			<div>
				<div style="margin: 60px 20px;">
					{{ blog.text }}
				</div>
				<div style="text-align: center; margin-top: 50px">
					<a href="{% url 'blogs:index' %}">Go back to the top page</a>
				</div>
			</div>
		</div>
	</body>
</html>
